<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Infomation</title>
</head>
<h1>Cryptocurrency: An informative page
<body>



<h4>What is Cryptocurrency?</h4>
Cryptocurrency which is often abbreviated to "Crypto" is a form of currency that exists digitally/virtually and is not backed by governments/traditional financial institutions.
    
    
<h4>What was the first Cryptocurrency?</h4>
    
    
Bitcoin is considered the first true Cryptocurrency. While the idea has been around for over 40 years, Bitcoin was considered the first cryptocurrency when it was created in 2009.
Bitcoin is now the most well known cryptocurrency and is the most expensive  Cryptocurrency today.
    
    
<h4>Why do people use Cryptocurrencurrecny?</h4>
    
    
People use cryptocurrency for a wide variety of reasons but some of the main reasons are that they are anonymous, quick payments or to avoid transaction fees but most use the cryptocurrency as an investment hoping that it rises in value like a stock to make money.

<h4>How do you get cryptocurrency?</h4>
WARNING! A lot of crypto buying websites are scams!
<br>
You can either buy cryptocurrency via an exchange website or 'mine it' which is where you get a powerful computer to do complicated math to finish a crypto transaction to be awarded an amount of crypto.

    
<h4>Why is Cryptocurrency called dangerous?</h4>
Cryptocurrency isn't backed by the governments and the money held in crypto accounts are not insured by the government. If something happens to your crypto wallet there isn't much you can do.
Furthermore Cryptocurrency is often linked to scams, with victims of crypto scams losing over $3.94 billion in 2023. According to the ACCC, crypto investment scams were 78% of all investment scams.
    
    
Payments are usually not reversible, the payments don't come with legal protection.
Cryptocurrency doesn't rely on banks to verify transactions which sometimes can lead to crimes.
    
<br>
<br>
<br>
    <a href="/">Go Back</a>
</body>
</html>