<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Infomation</title>
</head>
<body>
Cyrptocurrency which is often called Crypto is a form of currency that exists digitally/virtually and is not backed by governemnts/traditional finncial insititutions.


cryptocurrency doesn't rely on banks to vertify transaction which sometimes can lead to crimes 

<br>
    <a href="/">Go Back</a>
</body>
</html>